/* Custom styles for the navbar */
.navbar-custom {
    
    background-color: #55bdca; /* Replace with your custom color code */
    font-family: 'Signika', sans-serif;
    
    font-weight: 300;
}
  
  /* Custom styles for the active link */
  h1{
    color: #F27D42;
    font-family: 'Signika', sans-serif;
    font-size: 80px;
    font-weight: 500;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    z-index: 3;
}
p {
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 17px;
    font-weight: 300;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    max-width: 600px; /* Set a maximum width for the paragraph */
    min-width: auto;

    text-align: left; /* Align the text to the left */

    z-index: 3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    p {
        max-width: none; /* Remove the maximum width for smaller screens */
    }
}

.card-deck {
    
    flex-wrap: wrap;
    margin: -15px; /* Adjust the value as needed */
}

.card {
    border-radius: 15px; /* Rounded edges */
    flex: 1;
    margin: 15px; 
}

.icon-container {
    display: flex;
    justify-content: space-between;
    max-width: 200px; /* Set your maximum spacing */
    margin: -1 auto; /* Center the container */

    z-index: 3;

    
    
    
}

.icon-container a {
    margin-left: 40px; /* Initial spacing between icons */
    color: #19bdcb;
    transition: color 0.3s ease;

    z-index: 3;
}

.icon-container i {
    font-size: 3rem; /* Adjust the default icon size */

    z-index: 3;
}
.icon-container a:hover {
    color: #F27D42; /* Set the hover color */

    z-index: 3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .icon-container {
        justify-content: flex-start; /* Align the icons to the left */
    }

    .icon-container a {
        margin-right: 10px; /* Reduce spacing for smaller screens */
    }
}

.cloud {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.cloud div {
    position: absolute;
    display: block;
    z-index: 2;
}

.cloud .cloud-1 {
    animation: fall 40s linear infinite;
}

.cloud .cloud-2 {
    animation: fall 50s linear infinite;
    animation-delay: -5s;
}

@keyframes fall {
    0% {
        opacity: 1;
        top: -10vh; /* Adjust based on desired starting position */
        left: 80vw; /* Adjust based on desired starting position */
    }
    100% {
        opacity: 1;
        top: -10vh; /* Adjust based on desired ending position */
        left: -1400px; /* Adjust based on desired ending position */
    }
}

@media screen and (max-width: 768px) {
    .cloud .cloud-1 {
        animation: fall 30s linear infinite;
    }
    .cloud .cloud-2 {
        animation: fall 40s linear infinite;
        animation-delay: -3s;
    }
}




.text-container {
    overflow: auto; /* or overflow: scroll; depending on your preference */
    max-height: auto; /* Adjust as needed */
    /* Other styles */
    position: relative;
    z-index: 3;
}

.animation-container {
    /* Ensure animation doesn't get cut off */
    overflow: hidden; /* Prevent scrollbar from appearing */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* Set the height to match the viewport height */
    z-index: 2; /* Ensure the animation is behind the text content */
}



/* cards */
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
   
    max-height: 600px; /* Set your desired maximum height */
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: 'Signika', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 15px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: grey;
  }
  
  article a:focus {
    outline: 1px dotted grey;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    
    transform: translateX(var(--link-icon-translate)) translateY(-9px); /* Combine both translations */
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;

    
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: grey;
    --link-icon-translate: 0;

    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  